  body {
    justify-content: center;
    align-items: center;
    margin: 0;

    display: grid;
    justify-content: center; /* Center horizontally */
}

#mainContainer {
    text-align: center;
    padding: 20px;
    /* max-width: 800px; */
}

#videoDiv {
    height: 80vh;
    margin: 0 auto;
    border: 1px solid;
    aspect-ratio: 5/4;
}

.videoTrack {
    height: 80vh;
    /* margin: 0 auto;
    border: 1px solid; */
    aspect-ratio: 5/4;
}

#infoContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.infoItem {
    padding: 5px;
    text-align: center;
}