<div id="wholePageDiv">
    <header id="header">
        {{ .HeaderHTML }}
    </header>

    <nav id="nav">
        {{ .NavHTML }}
    </nav>

    <section id="mainSection">
        {{ .MainHTML }}
    </section>

    <footer id="footer">
        {{ .FooterHTML }}
    </footer>
</div>