{{if .IsLoggedIn }}
    <div>
        Username: {{ .Username }}
        Rank: {{ .Rank }}
        <button type="submit">Logout</button>
    </div>
{{ else }}
    <form hx-post="/login" hx-ext='json-enc' hx-target="wholePageDiv" hx-swap="outerHTML">
        <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
{{ end }}